@charset "UTF-8";
/*base▼
 =====================================================================*/
$md: 1145px;
$sm: 625px;

@mixin bp($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

 * {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
}
body{
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo,sans-serif;
	height: 100%;
}
ul,ol {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}
/* 上部&トップ下部ナビゲーション */
.gloval-nav {
	display: flex;
	margin: 14px auto 0;
	max-width: 1000px;

	li {
		width: 170px;
		text-align: center;

		a {
			color: #333;

			div {
				border-right: 1px solid #ddd;
				position: relative;
				height: 67px;

				img {
					position: absolute;
					left: 30%;
					transition: all 0.5s;
				}
			}

			span {
				position: relative;
				display: block;
				font-size: 15px;
				padding-top: 14px;
			}

			span:before {
				content: "";
				display: block;
				position: absolute;
				left: 40%;
				top: 0;
				background: #ddd;
				width: 32px;
				height: 6px;
				border-radius: 50%;
				transition: all 0.5s;
			}
		}

		a:hover {
			div {
				img {
					margin-top: -20px;
					margin-bottom: 20px;
				}
			}

			span:before {
				width: 16px;
				height: 4px;
				left: 45%;
				background: #f6f6f6;
			}
		}
	}

	li:first-child div {
		border-left: 1px solid #ddd;
	}
	@include bp($md){
		display: none;
	}
}
/*base▲
  =====================================================================*/
/*ヘッダー▼
	 =====================================================================*/
#top-header {
	max-width: 1000px;
	margin: auto;
	padding-bottom: 30px;
	@include bp($md){
		padding-bottom: 2px;
	}

	.introduction {
		display: flex;
		justify-content: space-between;
		@include bp($md){
			display: block;
		}
/* ロゴ */
		.top-logo {
			span {
				display: block;
				margin: 6px auto;
				font-size: 1.6rem;
				text-align: center;
				color: #111;
				width: 160px;
				height: 18px;
				background: url("../images/bg_release.gif") center/contain no-repeat;
				@include bp($md){
					font-size: 1.3rem;
					width: 134px;
					height: 13px;
				}
			}

			.brandlogo {
				margin: 10px auto;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				width: 336px;
				height: 27px;
				background: url("../images/logo.png") center/contain no-repeat;
				@include bp($md){
					width: 242px;
					height: 19px;
				}
			}
			@include bp($md){
				padding: 2px 0 10px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				margin-bottom: 1rem;
			}
		}
/* sns,search */
		.leftbtn-menu{
			display: block;
			width: 6rem;
			text-align: center;
			font-weight: bold;
			color: #000;
			border-right: 1px solid #ddd;
			display: none;
			@include bp($md){
				display: block;
				float: left;
			}
			span{
				display: block;
				margin: 0.2rem auto 0.6rem;
				width: 2.5rem;
				height: 0.2rem;
				background: #000;
			}
			div{
				margin-top: -2px;
			}
			&.clicked{
				position: fixed;
				top: 0;
				left: 260px;
				z-index: 9999;
				border: 0;
				span{
					background: #fff;
					transform: rotate(45deg);
					margin-top: 30px;
					&:nth-child(2){
						display: none;
					}
					&:nth-child(3){
						transform: rotate(-45deg);
						margin-top: -8px;
					}
				}
				>div{
					display: none;
				}
				& ~ .nav-container{
					width: 100%;
				}
				& ~ .guides .guide1{
					display: block;
				}
				& ~ .guides .share-btn{
					display: block;
				}
			}
		}
		.guides {
			display: flex;
			flex-direction: column;
			margin-left: 45px;
			width: 666px;
			@include bp($md){
				width: auto;
			}

			&:after{
				content: "";
				display: block;
				clear: both;
			}
			.guide1,
			.guide2 {
				display: flex;
			}

			.guide1 {
				font-size: 1.2rem;
				justify-content: flex-end;
				@include bp($md){
					display: none;
					position: fixed;
					width: 275px;
					height: 1000px;
					top: 455px;
					left: 0;
					background: #fff;
					padding-left: 8px;
					flex-direction: column;
					justify-content: flex-start;
					z-index: 9999;
					overflow-y: hidden;
				}

				.questions,
				.twitter {
					position: relative;
					color: #333;
					line-height: 1.5;
					margin: 1rem;
					padding-left: 26px;

					a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}

				.questions:hover,
				.twitter:hover {
					text-decoration: underline;
				}

				.questions:before,
				.twitter:before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					display: inline-block;
					background: url("../images/icon_s_tw.gif") center/cover no-repeat;
					width: 1.8rem;
					height: 1.8rem;
				}

				.questions:before {
					background: url("../images/icon_s_pen.gif") center/cover no-repeat;
				}
			}

			.guide2 {
				font-size: 1.4rem;
				justify-content: space-between;

				.searchbox {
					width: 520px;
					display: flex;
					justify-content: space-between;
					@include bp($md){
						width: 100%;
						margin: 0 14px 10px;
					}

					span {
						position: relative;
						text-align: center;
						width: 162px;
						height: 40px;
						padding: 13px 10px 0;
						background: #007ae1;
						color: #fff;
						border-radius: 3px;
						@include bp($md){
							display: none;
						}
					}

					span:after {
						content: "";
						display: block;
						background: #007ae1;
						border-radius: 0;
						position: absolute;
						top: 45%;
						right: -3px;
						width: 0.6rem;
						height: 0.6rem;
						transform: rotate(45deg);
					}

					form,
					input {
						border: none;
						height: 40px;
						@include bp($md){
							height: 34px;
						}
					}

					form {
						width: 345px;
						@include bp($md){
							width: 100%;
						}
					}

					input[type="text"] {
						width: 300px;
						padding: 1rem;
						background: #f1f3f6;
						color: #666;
						border-radius: 3px;
						@include bp($md){
							width: 95%;
						}
						@include bp($sm){
							width: 85%;
						}
					}

					input[type="submit"] {
						width: 42px;
						text-indent:  200%;
						white-space: nowrap;
						overflow: hidden;
						background: #007ae1 url("../images/icon_search.jpg") center/contain no-repeat;
						color: #fff;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						@include bp($md){
							width: 5%;
						}
						@include bp($sm){
							width: 15%;
						}
						@include bp($sm){
							width: 15%;
						}
					}
				}

				.share-btn {
					font-size: 0;
					a {
						display: inline-block;
					}
					@include bp($md){
						display: none;
						position: fixed;
						top: 360px;
						left: 0;
						width: 275px;
						background: #fff;
						padding: 30px 15px;
						z-index: 9999;

						a{
							width: 50%;
							height: 35px;
							background: #47569d;
							text-align: center;
							img{
								height: 100%;
							}
						}
						a:last-child{
							background: #55acee;
						}
					}
				}
			}
		}
	}
}
/* レスポンシブでのナビゲーション表示 */
.nav-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	min-height: 100%;
	background: rgba( 0, 0, 0, 0.6);
	z-index: 9998;
	transition: all 0.3s;
}
.header-gloval-nav{
	@include bp($md){
		display: none;
		background: #fff;
		padding-top: 25px;
		position: fixed;
		width: 275px;
		top: -20px;
		left: 0;
		z-index: 9999;

		li{
			a{
				display: flex;
				justify-content: space-around;
				width: 275px;
				background: #fff;

				div{
					border: none;
					width: 20%;
					height: 60px;

					img{
						width: 24px;
						margin-top: 16px;
					}
				}
				span{
					width: 70%;
					text-align: left;
					font-size: 1.4rem;
					border-top: 1px solid #ddd;
					padding-top: 20px;
					&:before{
						display: none;
					}
				}

			&:first-child div{
				border: none;
			}
			&:hover{
				div {
					img {
						margin-top: 16px;
						margin-bottom: auto;
						}
					}
				}
			}
			&:last-child{
				span{
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}
	&.clicked{
		display: block;
	}
}
/*ヘッダー▲
	  =====================================================================*/

		/*フッター▼
					 =====================================================================*/

		#bottom-footer {
			max-width: 1000px;
			margin: 30px auto;
			@include bp($md){
				margin: 20px auto;
			}
			.links,
			.footer2{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.links{
				@include bp($md){
				justify-content: space-around;
				}
				@include bp($sm){
					justify-content: space-between;
					flex-wrap: wrap;
					width: 90%;
					margin: auto;
				}
				li{
					width: 21.8%;
					@include bp($sm){
					width: 48.5%;
					margin-bottom: 8px;
					}
					img{
						width: 100%;
					}
				}
			}
			.footer2{
				margin-bottom: 30px;
				@include bp($md){
					justify-content: center;
					flex-direction: column;
					text-align: center;
					margin-bottom: 0;
				}
				.footer-logo {
					.brandlogo {
						display: block;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
						width: 336px;
						height: 27px;
						background: url("../images/logo.png") center/contain no-repeat;
						@include bp($md){
							width: 222px;
							height: 18px;
							margin: 20px;
						}
					}
				}
				.copyright{
					font-size: 1.2rem;
					width: 290px;
					margin: 0 100px 0 30px;
					@include bp($md){
						width: 280px;
						font-size: 1.1rem;
						margin: auto;
					}

					p{
						margin: 0;
						line-height: 1.5;
						@include bp($md){
							margin: 20px auto;
						}
					}
				}
				ul{
					display: flex;
					justify-content: space-between;
					align-items: center;
					@include bp($md){
						align-items: flex-start;
					}
					li:first-child{
						margin-right: 30px;
						@include bp($md){
							margin-right: 10px;
						}
					}
				}
			}
			/* ページの先頭へ */
			.totop{
				display: block;
				opacity: 0;
				pointer-events: none;
				text-align: center;
				position: fixed;
				right: 52px;
				bottom: -22px;
				transition: opacity 1s;
				span{
					display: block;
					font-size: 1.2rem;
					font-weight: bold;
					color: #666;
					line-height: 1.5;
					margin-bottom: 1.2rem;
				}
				@include bp($md){
					background: #0078da;
					border: 2px solid #fff;
					width: 54px;
					height: 54px;
					right: 20px;
					bottom: 20px;
					img,span{
						display: none;
					}
					&:before,
					&:after{
						position: absolute;
						content: "";
						display: block;
						background: #fff;
						width: 1.1rem;
						height: 0.15rem;
						top: 47%;
						left: 47%;
						transform: rotate(45deg);
					}
					&:after{
						left: 32%;
						transform: rotate(-45deg);
					}
				}
				&.on{
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
		/*フッター▲
					  =====================================================================*/
