@charset "UTF-8";

@import "normalize";



/*base▼
 =====================================================================*/
*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
ul{
	list-style: none;
	padding-left: 0;
}
a{
	text-decoration: none;
}
/*base▲
  =====================================================================*/

/*ヘッダー▼
	 =====================================================================*/
.top-header{
	max-width: 1000px;
	margin: auto;
	.introduction{
		display: flex;
		.top-logo{
			span{
				font-size: 1.6rem;
			}
			.brandlogo{
				text-indent: 100%;
				overflow: hidden;
				background: url("../images/")
			}
		}
	}
	.gloval-nav{
		display: flex;
	}
}
/*ヘッダー▲
	  =====================================================================*/

/*メイン▼
		 =====================================================================*/
/*メイン▲
		  =====================================================================*/

/*フッター▼
			 =====================================================================*/
/*フッター▲
			  =====================================================================*/
